<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            inbuilt decoraters are:
            <h3> 1.classmethod</h3>
            <h3>2.staticmeethod</h3>
        </h1>
        <h1> userdefined decoraters can be cretaed by following :</h1>
        <h3>1.create nested functions</h3>
        <h3>2.outer argument must accept one manadatory argument</h3>
        <h3>3.outer argument must return inner function address</h3>
        <a href="{% url 'app1:pythonfeatures' %}"<h1>go back to python page</h1>
    </center>
</body>
</html>