<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>python decorater is a design pattern that allows the user to add additional functionalities without modifying the existing code.</h1>
    <h2> they are two types of decoraters :</h2>
    <h3> 1.inbuilt decoraters</h3>
    <h3>2. userdefined decoraters</h3>
    <a href="{% url 'app3:decoraterexplanation' %}"<h2>click here about more information</h2>
</body>
</html>