<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>python is a INTERPRETED LANGUAGE </h1>
        <h2> python is dynamically typed </h2>
        <marquee><h3>python is  functional, procedural language, object oriented programming language,and also a scripting language</h3></marquee>
        <a href="{% url 'app2:pythondecorater' %}"<h1> click here for knowing about more about python concepts</h1>
    </center>
</body>
</html>